body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    margin:0;
    text-align:center;
}

header{
    background:#111;
    color:white;
    padding:20px;
}

.card{
    width:300px;
    margin:40px auto;
    background:white;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

img{
    width:100%;
    border-radius:15px;
}

button{
    background:#111;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:12px;
    cursor:pointer;
}}

.nav-right{
    display:none;
}

}
